#projects {
  height: 150vh !important;
  margin-bottom: -130px;
}
@media screen and (max-width: 1024px) {
  #projects {
    height: 180vh !important;
  }
}
@media screen and (max-width: 768px) {
  #projects {
    height: 325vh !important;
  }
}
